@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }

    h1 {
        @apply text-[48px] lg:text-[80px] leading-[1.1] font-semibold
    }

    h2 {
        @apply text-[36px] lg:text-[48px] leading-[1.1] font-semibold
    }

    h3 {
        @apply text-[20px] lg:text-[24px] leading-[1.1] font-semibold
    }

    h5 {
        @apply text-[12px] lg:text-[16px] leading-[1.1]
    }
}

.ficon:hover {
    filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg) brightness(89%) contrast(85%);
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-bottom,
.hamburger-middle {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #000;
    transform: rotate(0);
    transition: all 0.25s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}